.sidebar {
    width: 4rem;
    height: 100vh;
    background-color: #383E47;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
  }
  
  .sidebar h2 {
    margin: 1rem 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 1rem;
  }
  
  .sidebar button {
    padding: 0.5rem;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #FFFFFF;
  }
  
  .sidebar button:hover {
    border: 1px solid;
    border-color: #ddd;
    background-color: transparent;
  }
  