.sidebar {
    width: 5rem;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    padding: .5rem .5rem 0 .5rem;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .sidebar {
    /* width: 15%; */
    height: 2.25rem;
    width: 100dvw;
    position: absolute;
    flex-direction: row;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    border-top-color: rgb(47, 51, 54);
    border-top-width: 1px;
    border-top-style: solid;
    padding: .5rem 0;
  }
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    gap: 0;
  }
  .sidebar button {
    display: flex;
    align-items: center;
  }
  .sidebar li {
    
    margin-bottom: 0;
  }

  .sidebar h2 {
    display: none;
  }
}

.sidebar h2 {
  margin: 1rem 0;
}
  
  
.sidebar li {
  width: 100%;
  max-width: 5rem;
  justify-content: center;
  display: flex;
  align-items: center;
}
  
.sidebar button {
  padding: 0.5rem;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #FFFFFF;

  display: flex;
  justify-content: center;
}
  
.sidebar button:hover {
  border: 1px solid;
  border-color: #03DAC5;
  background-color: transparent;
}
  

#img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 20px;
  padding: .25rem;
}

.sidebar img:hover {
  border: 1px solid;
  border-color: #03DAC5;
  background-color: transparent;
}