body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
}
  
.app {
  display: flex;
  height: 100dvh;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 75%;
  position: relative;
}

@media (max-width: 600px) {
  .content {
    padding: 0;
    text-align: center;
  }
}

.main {
  flex: 1;
  padding: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.main-container {
  display: flex;
  justify-content: center;
  overflow-y: scroll;

  /* disable scrollbar visual */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  height: 100dvh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#login {
  width: fit-content;
}

button {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #FFFFFF;

  display: flex;
  justify-content: center;

  border: 1px solid;
  border-color: #03DAC5;
  background-color: transparent;
}