body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
  }
  
  .app {
    display: flex;

    /* disable scrollbar visual */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* disable scrollbar visual chrome, safari, opera */
  .app::-webkit-scrollbar {
    display: none;
  }
  
  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem;
    height: 100vh;
  }
  
  .main {
    flex: 1;
    padding: 1rem;
    overflow-y: scroll;
  }
  
  